# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Virtual Environment
geopolenv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Local development
*.db
backups/
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker